body {
    background-image: url(img/assortment-cinema-elements-red-background-with-copy-space_23-2148457848.jpg.avif);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.main {
    margin: 10%;
    display: grid;
}

.btn {
    height: 80px;
    width: 150px;
}
